footer {
    padding: 60px;
    background: rgb(5, 5, 5);
    box-shadow: 0 -3px 2px var(--darken-secondary-color);
}




.Liste-informations-personelles,
.ListeInformationsContact,
.Liste-informations-reseau {
    list-style-type: none;
    padding: 10px 4px;
    color:rgb(212, 195, 195);
    
}



.ListeInformationsContact a{
    color: none;
    color: rgb(180, 179, 195);
}

.Liste-informations-reseau a{
    color: none;
    color: rgb(180, 179, 195);
}
.Liste-informations-reseau a:hover{
    color: teal;
}
.ListeInformationsContact a:hover{
    color: teal;
}

.ListeInformationsContact ul{
    padding: 16px;
    padding-top: 2px;
}
.Liste-informations-personelles li{ 
    font-size: small;
    h
}

