footer {
    padding: 35px;
    background: rgb(5, 5, 5);
    box-shadow: 0 -3px 2px var(--darken-secondary-color);
}
.Contenu-footer{
    
    display: flex;
    justify-content: center;
    color: rgb(180, 179, 195);
    padding: 40px;
}



.Liste-informations-personelles,
.Liste-informations-contact,
.Liste-informations-reseau {
    list-style-type: none;
    padding: 2px 0;
    padding-right: 140px;
    
}



.Liste-informations-contact a{
    color: none;
    color: rgb(180, 179, 195);
}

.Liste-informations-reseau a{
    color: none;
    color: rgb(180, 179, 195);
}
.Liste-informations-reseau a:hover{
    color: teal;
}
.Liste-informations-contact a:hover{
    color: teal;
}


.footer-contact{
    padding-left: 100px;
    padding-right: 100px;
}

