header {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    background: var(--primary-color);
    box-shadow: 0 3px 2px var(--darken-secondary-color);
  }
  title {
    width: 70px;
  }