:root {
    --primary-color: hsl(0, 41%, 49%);
    --darken-primary-color: hsl(29, 97%, 25%);
    --lighten-primary-color: hsl(29, 97%, 63%);
    --secondary-color: hsl(246, 71%, 40%);
    --darken-secondary-color: hsl(189, 97%, 20%);
    --lighten-secondary-color: hsl(189, 97%, 53%);

  }

.carousel {
  grid-area: carousel;
  overflow: hidden;
}
.carousel-inner {
  position: relative;
  height: 100%;
  left: 0;
  width: calc(100% * 3);
  transition: left .5s ease-in-out;
}


.row {
  --bs-gutter-x: -2rem;
  
}

.row img{
  height: auto;
  align-self: center;
}


.card-text {
  font-weight: bold;
  text-align: center;
  font-size: smaller;
  color: rgb(100, 100, 218);
}

.card-title{
  text-align: center;
}

.cv {
  text-align: center;
}



